body {
    margin: 0px;
    padding: 0px;
}
/*Esse aqui é o header do site*/
header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: #ff0000;
    color: aliceblue;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {

}